body {
    background-color: #000000;
    color: #FFFFFF;
}

header {
    display: flex;
    align-items: end;
}

a {
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #fba92c;
}
